*.txt
data*
__pycache__
.ipynb_checkpoints
train_log
cmdt_pred
cmdt_images
output*
test*
kitti
children_draw*
data_doc
ILSVRC
VOCdevkit
annotations_cache
images_with_boxes
20170707
20170822
multi_*
plate*
doodle_detection
head_hand_output
head_hand_sku_output
2017*
coco
voc
